@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
p{
  padding-top:1rem;
  padding-bottom:1rem;
}
ul{
  list-style-type: disc;
  margin-left:1.3rem;

}
header{
  position: fixed;
}
footer{
  background-color: #002d72;
  padding: 1rem 0;
  color: #FFF;
}
a{
  color: #002d72;
}
a:hover{
  text-decoration: underline;
}
h1, h2{
  font-family: var(--font-dm-sans);
  font-weight: 600;
}
.primary-btn{
  color: #FFF;
  border-radius: 10px; 
  padding: 1rem 2rem;
  background-color:#002d72;
  transition: ease all .3s;
}
.primary-btn:hover{
  text-decoration: none;
  background-color: #2e61ad;
}
.latest-projects-border:hover{
  text-decoration:none;
}
.latest-projects-border:hover{
  text-decoration:none;
}
input{
  background-color:#FFF;
  border: 1px solid #d9d9d9
}
@layer utilities {
  /* @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-300px * 8));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-300px * 8));
    }
  } */
  .slider {
    background: transparent;
    margin: auto;
    /* overflow: hidden; */
    position: relative;
    /* width: 1300px; */
    display: flex;
  }
  /* .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100vh;
    position: absolute;
    width: 300px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  } */
  .slider .slide-track {
    -webkit-animation: scroll 30s linear infinite;
            animation: scroll 30s linear infinite;
    display: flex;
    /* width: calc(300px * 8); */
  }
  .slider .slide {
    height: auto;
    width: auto;
    align-self:center;
  }

  .text-balance {
    text-wrap: balance;
  }
  .latest-projects-border{
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, .3);
    border: 1px solid #000;
    border-radius: 8px;
    overflow:hidden;
    transition: .3s ease all;
    top:0;
    position: relative;
    cursor: pointer;
  }
  .detail-image{
    margin:0 auto;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, .3);
    border: 1px solid #000;
    border-radius: 8px;
  }
  .list-column{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(1, 244px);
    grid-gap: 5%;
  }
  .animate-aboutImage {
    @media (prefers-reduced-motion: no-preference)  {
      transform: translateX(50%);
      animation-timeline: view();
      opacity:1;
      animation-range-start: 200px;
      animation-range-end: 400px;
    }
  }
  .animate-aboutDescription {
    @media (prefers-reduced-motion: no-preference)  {
      transform: translateX(-50%);
      opacity: 0;
      animation-timeline: view();
      animation-range-start: 200px;
      animation-range-end: 400px;
    }
  }
  .animate-header{
    @media (prefers-reduced-motion: no-preference)  {
        animation-timeline:scroll();
        animation-range-start: 0px;
        animation-range-end: 200px;
        transition:.15s ease-in-out;
    }
  }
  .profile-border{
    box-shadow: 4px -0px 20px 5px rgba(0, 0, 0, .3);
  }
}
